<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br><br><br>
    <h3><a href="/movies/list">LISTA DE PELICULAS</a></h3>
    <br>
    <h3><a href="/movies/new">LISTA DE PELICULAS ACTUALES</a></h3>
    <br>
    <h3><a href="/movies/recommended">LISTA DE PELICULAS RECOMENDADAS</a></h3>
    <br>
    <h3><a href="/genres/list">LISTA DE PELICULAS POR GENEROS</a></h3>
  </body>
</html>
